.btn-link {
    color: theme-color('primary');
    font-weight: $font-weight-bold;
    padding: 0 !important;

    &:not(:disabled):not(.disabled):focus:active,
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}
